<div class="row">
    <div class="filter-bar col-3">
        <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Filter</h5>
                    <hr />
                    <div class="px-2">Front-end</div>
                    <div class="">
                        <div><a class="link filter" href="#">Javascript</a></div>
                        <div><a class="link filter" href="#">HTML & CSS</a></div>
                    </div>
                    <div class="px-2">Back-end</div>
                    <div class="">
                        <div><a class="link filter" href="#">PHP</a></div>
                        
                    </div>
                </div>
            </div>
    </div>
    <div class="col-9">
        <div class="row">
            {{#each courses}}
            <div class="col-sm-6 col-lg-4">
                <div class="card mb-4">
                    <a class="link" href="/courses/{{this.slug}}">
                        <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
                    </a>
                    <div class="card-body">
                        <a class="link" href="/courses/{{this.slug}}">
                            <h5 class="card-title fade-truncate">{{this.name}}</h5>
                        </a>
                        <span class="card-text fade-truncate">{{this.description}}</span><br>
                        <a href="#" class="btn btn-success mt-4">Enroll</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    
</div>